blockquote,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}
body{background: #f1f1f1;font-family:"PingFangSC-Regular","Microsoft YaHei",Helvetica,"Hiragino Sans GB",Arial,sans-serif;font-size:13px;line-height:18px;color:#737373;}table{margin:10px 0 15px 0;border-collapse:collapse}td,th{border:1px solid #ddd;padding:3px 10px}th{padding:5px 10px}a{color:#0069d6}a:hover{color:#0050a3;text-decoration:none}a img{border:none}p{margin-bottom:13px;font-family:"Microsoft YaHei"}h1,h2,h4,h5,h6{color:#404040;line-height:36px}h1{margin-bottom:18px;font-size:30px}h2{font-size:24px}h3{font-size:18px}h4{font-size:16px}h5{font-size:14px}h6{font-size:13px}hr{margin:0 0 19px;border:0;border-bottom:1px solid #ccc}blockquote{padding:13px 13px 21px 15px;margin-bottom:18px;font-family:georgia,serif;font-style:italic}blockquote:before{content:"\201C";font-size:40px;margin-left:-10px;font-family:georgia,serif;color:#eee}blockquote p{font-size:16px;font-weight:300;line-height:18px;margin-bottom:0;font-style:italic}code,pre{font-family:Monaco,Andale Mono,Courier New,monospace}code{background-color:#fee9cc;color:rgba(0,0,0,.75);padding:1px 3px;font-size:12px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}pre{display:block;padding:14px;margin:0 0 18px;line-height:16px;font-size:11px;border:1px solid #d9d9d9;white-space:pre-wrap;word-wrap:break-word}pre code{background-color:#fff;color:#737373;font-size:11px;padding:0}sup{font-size:.83em;vertical-align:super;line-height:0}*{-webkit-print-color-adjust:exact}@media screen and (min-width:914px){body{width:854px;margin:10px auto}}@media print{body,code,h1,h2,h3,h4,h5,h6,pre code{color:#000}pre,table{page-break-inside:avoid}}
div.top,div.content,div.aplayer{
    background:#fff ;
    padding: 0.32rem;
}
a{
    cursor: pointer;
}
div.top{
    line-height: 1.5em;
    margin:10px 0px 10px 0px;
}
div.top h2,div.top h3{
    text-align:center;
    margin: 0 auto;
}
div.top h3{
    color: #4c4c4c;
    line-height: 2.5em
}
div.notice {
    background: url('/wx/img/notify.png') no-repeat;
    padding: 3.5rem 0px 2.5rem;
    background-size: cover;
}
div.notice img {
    display:block;
    margin:0 auto;
    width: 43%;
}
div.noticeText{
    font-size: 18px;
    padding: 0.50rem 0.32rem 0;
    text-align: center;
    line-height: initial;
}
div.music{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0.32rem 0 0.32rem;
}
div.aplayer{
    margin: 0;
    padding:0;
}

div.content{
    margin:0 0 0.32rem;
}
div.content img{
    width:initial !important;
    max-width: 100%;
}
div.bottom{
    background: url('/wx/img/wenzhangzhuanfa.png') no-repeat center;
    margin: 0.32rem auto;
    background-size:contain;
    height: 530px;
}
div.bottom1{
    background: url('/wx/img/yidingyue.png') no-repeat center;
    margin: 0.32rem auto;
    background-size:contain;
    height: 530px;
}

p.integral{
    font-size:2em;text-align: center;padding-top:45px;color: #000;letter-spacing: 3px;
}
.DyBox{
    margin-top: 70px;
    height:27px;
}
.cancle{
    width: 120px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
p.name{
    font-family: PingFangSC-Medium;
    font-size: 1.2em;
    margin-top: 45px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
p.name span{
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    height:1.2em;
    line-height: 1.2em;
}
img.erweima{
    margin: 0 auto;
    display: block;
    margin-top: 140px;
    width: 120px ;
    height:120px;
}
.PointSubscribe{
    display: none;
    width: 100%;
    height: 100%;
}
.PointSubscribe img{
    display: block;
    width: 230px;
    margin:50px auto 45px;
}
.PointSubscribe p{
    width: 230px;
    margin: 0 auto;
    text-align: center;
    color: #3e0909;
    font-size: 1.5em;
    line-height: 1.5em;
}
.PointSubscribe a{
    width: 115px;
    height:45px;
    line-height: 45px;
    text-align: center;
    display: block;
    margin:55px auto 0;
    background: #fae45f;
    color: #3e0909;
    cursor: pointer;
    font-size: 1.4em;
}
.shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background: rgba(0,0,0,0.7);
    display: none;
}
.shadow .success img,.shadow .fail img{
    width: 210px;
    height:200px;
    display: block;
    margin:105px auto 0;
}
body{
    margin:0 auto;
}
.menuAbstract{
    margin: 10px 13px;
}
.clear{
    clear: both;
}
.overtext{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}