body{
	background:#F1F1F1;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 100%;
	max-width: 7.5rem;
	margin: 0 auto;
	font-size: 0.28rem;
}

.content{
	line-height: 0.38rem;
	padding: 0 0.32rem;
}

.contentWrap{
	margin-top: 0.32rem;
}

.op input[type=button]{
	width: 1.5rem;
	height:0.56rem;
	background: #4984B8;
	border-radius: 6px;
}
.tc{
	text-align: center;
}

.tr{
	text-align: right;
}

.curp{
	cursor: pointer;
}

.qrCode p
  {
	  color: #707070;
	  line-height:0.22rem;
	  margin-bottom: 0.18rem;
	  font-size: 0.7rem;
  }
.prCode p
{
	color: #707070;
	line-height:0.38rem;
	margin-bottom: 0.28rem;
	padding: 0 0.32rem;
}
.prCode p img{
	width: 4.8rem;
}