<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name = "format-detection" content = "telephone=no">
    <title>专栏简介</title>
    <script type="text/javascript" src="<%=baseUrl %>scripts/lib/device-adapter.js"></script>
    <link  type="text/css" rel="stylesheet" th:href="@{css/CssReset.min.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{css/common.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{css/quick.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{css/columnDetail.css}"/>
</head>
<body>
<div class="container columnDetail">
    <div class="contentWrap">
        <div class="content">
            ${column.columndescription}
        </div>

        <th:if test="${inWechat==1 && shared!=1}">
            <div class="subscribe tc">
                <p>订阅烘焙入门专栏需消耗${column.point}个积分，你准备好了吗?</p>
                <p>点击【订阅】，明天开启烘焙之旅</p>
                <p class="op tc"><input type="button" value="【订阅】" onclick="subscribe(${column.id},${column.point})"></p>
            </div>
        </th:if>

        <div class="qrCode">
            <p>
                我是「${nickname}」，邀请你和我一起关注这个好吃的公众号(๑´ڡ`๑)。通过下方的二维码，你我可各获得一个积分 。
            </p>
            <p class="tc">
                <img alt="" src="${qrUrl }">
            </p>
        </div>

    </div>
</div>

<script th:type="text/javascript" th:src="<%=baseUrl%>scripts/lib/jquery.min.js"></script>
<script th:type="text/javascript" th:src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script th:type="text/javascript">
    $(function(){
        var appId = "${signature.appId}";
        if(appId != null){
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: '${signature.appId}', // 必填，公众号的唯一标识
                timestamp:'${signature.timestamp}',   // 必填，生成签名的时间戳
                nonceStr: '${signature.noncestr}', // 必填，生成签名的随机串
                signature: '${signature.signature}',// 必填，签名，见附录1
                jsApiList: ['showOptionMenu','hideMenuItems','onMenuShareTimeline','onMenuShareAppMessage','menuItem:share:qq'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            wx.ready(function(){
                wx.showOptionMenu();
                wx.hideMenuItems({
                    menuList: ['menuItem:copyUrl','menuItem:openWithQQBrowser',
                        'menuItem:openWithSafari','menuItem:share:qq','menuItem:share:QZone',
                        'menuItem:setFont'] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
                });

                wx.onMenuShareTimeline({
                    title: '${column.columnname}', // 分享标题
                    link: '${shareUrl}', // 分享链接
                    imgUrl: '${column.cover}',  // 分享图标
                    success: function () {
                        $.get("<%=baseUrl%>share/column/success?columnId=${column.id}", function(data){
                            alert("分享成功！");
                        });
                    },
                    cancel: function () {
                        alert("分享失败！");
                    }
                });

                wx.onMenuShareAppMessage({
                    title: '${column.columnname}', // 分享标题
                    desc: '${column.columnname}', // 分享描述
                    link: '${shareUrl}', // 分享链接
                    imgUrl: '${column.cover}', // 分享图标
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                        $.get("<%=baseUrl%>share/column/success?columnId=${column.id}", function(data){
                            alert("分享成功！");
                        });
                    },
                    cancel: function () {
                        alert("取消分享！");
                    }
                });
            });
            wx.error(function(res){
                alert("微信jsApi配置失败失败");
            });
        }
    });

    function subscribe(columnId,point){
        if(confirm("订阅需要花费"+ point +"积分，确定要订阅吗？")){
            location.href="<%=baseUrl%>column/" + columnId + "/subscribe";
        }
    }

</script>

</body>
</html>