<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name = "format-detection" content = "telephone=no" />
    <link  type="text/css" rel="stylesheet" th:href="@{/css/article.css}"/>
    <title th:text="${article.title}" ></title>
    <script type="text/javascript" th:src="@{/js/device-adapter.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="article">
    <div class="top">
        <h2 th:text="${article.title}" ></h2>
        <h3 th:text="'- 第'+${article.classTime}+'课 -'"></h3>
        <p th:text="${article.abstarct}" ></p>
    </div>
    <div class="content" th:utext="${article.context}">
    </div>
    <div class="bottom" style="">
        <p class="integral" style=""><span th:text="${point}" ></span>个积分</p>
        <div class="DyBox">
            <a class=" DyBtn"><img th:if="${subscriber} == 1" src="/wx/img/dianjidingyue.png" class="cancle" /></a>
            <a class=" UnDyBtn"><img th:if="${subscriber} == 0" src="/wx/img/quxiaodingyue.png" class="cancle " /></a>
        </div>
        <p class="name">
            <span>「我是</span><span class="overtext" th:text="${user.nickname}"></span><span>」</span>
        </p>
        <img th:src="${user.qrUrl}" class="erweima"/>
    </div>
    <div class="bottom1" style="">
        <p class="integral" style=""><span></span></p>
        <div class="DyBox">
            <a class=" DyBtn"><img/></a>
        </div>
        <p class="name">
            <span>「我是</span><span class="overtext" th:text="${user.nickname}"></span><span>」</span>
        </p>
        <img th:src="${user.qrUrl}" class="erweima"/>
    </div>
</div>
<a class="shadow">
    <div class="success">
        <img src="/wx/img/dingyuechenggong.png" />
    </div>
    <div class="fail">
        <img src="/wx/img/jifenbuzu.png" />
    </div>
</a>
<div class="PointSubscribe ">
    <img src="/wx/img/jifenicon.png" />
    <p>
        订阅专栏将消耗<span th:text="${menuPoint}"></span>个积分<br />
        确定订阅么？
    </p>
    <a>我要订阅</a>
</div>
<script type="text/javascript" th:src="@{https://res.wx.qq.com/open/js/jweixin-1.0.0.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: [[${signature.appid}]], // 必填，公众号的唯一标识
        timestamp:[[${signature.timestamp}]],   // 必填，生成签名的时间戳
        nonceStr: [[${signature.noncestr}]], // 必填，生成签名的随机串
        signature: [[${signature.signature}]],// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','hideMenuItems','onMenuShareAppMessage','onMenuShareQQ'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    //console.info(wx);
    wx.ready(function(){
        wx.showOptionMenu();
        wx.hideMenuItems({
            menuList: ['menuItem:copyUrl','menuItem:openWithQQBrowser',
                'menuItem:openWithSafari','menuItem:share:QZone',
                'menuItem:setFont'] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
        });
        wx.onMenuShareTimeline({
            title: [[${article.title}]], // 分享标题
            desc: [[${article.title}]], // 分享描述
            link: [[${shareUrl}]], // 分享链接
            imgUrl: [[${article.icon}]],
            //imgUrl: 'http://img3.duitang.com/uploads/item/201405/21/20140521140027_Nd2s4.jpeg',  // 分享图标
            success: function () {
                alert("分享成功！");
            },
            cancel: function () {
                alert("分享失败！");
            }
        });

        wx.onMenuShareAppMessage({
            title: [[${article.title}]], // 分享标题
            desc: [[${article.title}]], // 分享描述
            link: [[${shareUrl}]], // 分享链接
            imgUrl: [[${article.icon}]], // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                alert("分享成功！");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert("分享失败！");
            }
        });


        wx.onMenuShareQQ({
            title: [[${article.title}]], // 分享标题
            desc: [[${article.title}]], // 分享描述
            link: [[${shareUrl}]], // 分享链接
            imgUrl: [[${article.icon}]], // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert("分享成功！");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                //alert("取消分享！");
            }
        });

    });

    wx.error(function(res){
       // alert("失败");
    });

    $(document).ready(function () {
        var subscriber = [[${subscriber}]];
        if(subscriber==1){
            $(".bottom").show();
            $(".bottom1").hide()
        }else{
            $(".bottom1").show();
            $(".bottom").hide();
        }
    })

    $(document).on("click","a.DyBtn",function () {
        $(".PointSubscribe").show();
        $(".article").hide()
    })
    $(document).on("click","a.UnDyBtn",function () {
        $.ajax({
            url: "/wx/unSubscribe/" + [[${article.fkMenuId}]],
            type: "GET",
            success: function (data) {
                if (data != null && data != "") {
                    var content="";
                    if (data == "ok") {
                        content = '<a class=" DyBtn"><img src="/wx/img/dianjidingyue.png" class="cancle" /></a>';
                        $(".bottom").show();
                        $(".bottom1").hide()
                    }else {
                        content = '<a class=" UnDyBtn"><img src="/wx/img/quxiaodingyue.png" class="cancle " /></a>';
                        $(".bottom1").show();
                        $(".bottom").hide();
                    }
                    $(".bottom .DyBox").html(content);
                }
            }
        })
    })
    $(document).on("click",".shadow",function () {
        $("html,body").css({"overflow":"initial","height":"initial"});
        $(".shadow").hide();
    })
    $(document).on("click",".PointSubscribe a",function () {
        $.ajax({
            url: "/wx/subscribe/"+[[${article.fkMenuId}]],
            type: "GET",
            success: function (data) {
                if (data != null && data != "") {
                    var content="";
                    if (data == "ok") {
                        $(".PointSubscribe").hide();
                        $(".shadow").css("display","block");
                        $(".shadow .success").show();
                        $(".shadow .fail").hide();
                        $(".article").show();
                        content = '<a class=" UnDyBtn"><img src="/wx/img/quxiaodingyue.png" class="cancle " /></a>';
                        $(".bottom1").show();
                        $(".bottom").hide();
                    } else {
                        $(".PointSubscribe").hide();
                        $(".shadow").css("display","block");
                        $(".shadow .success").hide();
                        $(".shadow .fail").show();
                        $(".article").show()
                        content = '<a class=" DyBtn"><img src="/wx/img/dianjidingyue.png" class="cancle" /></a>';
                        $(".bottom").show();
                        $(".bottom1").hide()
                    }
                    $(".bottom .DyBox").html(content);
                    $("html,body").css({"overflow":"hidden","height":"100%"})
                }
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>