<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name = "format-detection" content = "telephone=no">
    <title>订阅结果</title>
    <script type="text/javascript" th:src="@{js/device-adapter.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <link  type="text/css" rel="stylesheet" th:href="@{css/CssReset.min.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{css/common.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{css/columnList.css}"/>
</head>
<body>
<div class="columnSubscribeMessage">
    ${rstValue}
    ${message}
    <br>
    <th:if test="${rstValue==1}">
        <input type="button" onclick="backList(${columnId});" value="返回文章列表"/>
    </th:if>
</div>
<script type="text/javascript">
    function backList(columnId){
        location.href="<%=baseUrl%>column/"+columnId+"/article";
    }
</script>

</body>
</html>