<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name = "format-detection" content = "telephone=no" />
    <script type="text/javascript" th:src="@{/js/device-adapter.js}"></script>
    <style type="text/css">
        image{
            height: 530px;
        }
    </style>
    <title>想我提问</title>
</head>
<body>
<img th:src="@{/img/dingyuechenggong.png}" />
</body>
</html>