<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name = "format-detection" content = "telephone=no" />
    <script type="text/javascript" th:src="@{/js/device-adapter.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link  type="text/css" rel="stylesheet" th:href="@{/css/common.css}"/>
    <title></title>
</head>
<body>
<div class="qrCode" >
    <p th:text="${exception}"></p>
</div>
</body>
</html>