<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name = "format-detection" content = "telephone=no" />
    <title>专栏简介</title>
    <script type="text/javascript" th:src="@{/js/device-adapter.js}"></script>
    <link  type="text/css" rel="stylesheet" th:href="@{/css/CssReset.min.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{/css/common.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{/css/columnDetail.css}"/>
</head>
<body>
    <div class="container columnDetail">
        <div class="content" th:utext="${menuAbstract.context}"></div>
        <div class="subscribe tc"  th:if="${subscriber} == 1">
            <p th:text="|订阅烘焙入门专栏需消耗${menuPoint}个积分，你准备好了吗?|"></p>
            <p>点击【订阅】，明天开启烘焙之旅</p>
            <p class="op tc">
                <input type="button" value="【订阅】" onclick="subscribe();" />
            </p>
        </div>
      <div>
            <p th:text="|我是 ${user.nickname}，邀请你和我一起关注这个好吃的公众号(๑´ڡ`๑)。通过下方的二维码，你我可各获得一个积分 。|"></p>
            <p class="tc">
                <img alt="" th:src="${user.qrUrl}"  />
            </p>
        </div>
    </div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script th:inline="javascript">
        /*<![CDATA[*/

                    function subscribe(){
                        if(confirm("订阅需要花费[[${menuPoint}]]积分，确定要订阅吗？")){
                            var menuId =[[${menuAbstract.fkMenuId}]];
                            location.href='/subscribe/'+menuId;
                        }
                    }
        /*]]>*/
    </script>

</body>
</html>