<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>积分作用</title>
    <script type="text/javascript" th:src="@{/js/device-adapter.js}"></script>
    <link  type="text/css" rel="stylesheet" th:href="@{/css/point.css}"/>
</head>
<body>
    <div class="content1">
        <img src="/wx/img/jifen3.png" class="integral_head"/>
        <div class="integral_inner">
            <img src="/wx/img/dinggyue.png" class="integral_inner_img integral_inner_left" />
            <div class="integral_inner_content integral_inner_right">
                <p>可用于订阅菜单栏左下角您感兴趣的专栏。在未来「会飞的黄油」活动中，可以换取福利。</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="line"></div>
        <div class="integral_inner" style="">
            <div class="integral_inner_content integral_inner_left">
                <p style="width: 155px;margin-top:20px;">在未来「会飞的黄油」活动中，可以换取福利。</p>
            </div>
            <img src="/wx/img/huodongfuli.png" class="integral_inner_img integral_inner_right" />
            <div class="clear"></div>
        </div>
    </div>
    <div class="content2">
        <img src="/wx/img/jifen2.png" class="integral_head" />
        <div class="integral_inner" style="margin: 50px 0;">
            <img src="/wx/img/wode.png" class="integral_inner_img integral_inner_left" />
            <div class="integral_inner_content integral_inner_right" style="font-size: 1.1em;width: 125px">
                <p>点击右下角「我的」-「我的积分」即可查询目前积分额度</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content3">
        <img src="/wx/img/jifen1.png" class="integral_head" />
        <p class="content3_top">其他人扫描您的专属二维码，关注我们，您和对方各获得一个积分。</p>
        <div class="line"></div>
        <div class="integral_inner">
            <div class="integral_inner_content integral_inner_left">
                <p>1.直接将关注时收到的“专属”二维码，分享给自己的好友，好友扫描二维码并关注公众号即可；</p>
            </div>
            <img src="/wx/img/shuoming2.png" class="integral_inner_img integral_inner_right" />
            <div class="clear"></div>
        </div>
        <div class="integral_inner">
            <img src="/wx/img/shuoming1.png" class="integral_inner_img integral_inner_left" />
            <div class="integral_inner_content integral_inner_right" style="width: 135px;">
                <p>2.分享专栏介绍或专栏文章给自己的好友长按文章底部的二维码，获取并关注公众号即可。</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>