<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name = "format-detection" content = "telephone=no" />
    <title>订阅结果</title>
    <script type="text/javascript" th:src="@{/js/device-adapter.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link  type="text/css" rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body>
<div>
    <div class="qrCode" th:if="${ret} == 0">
       <p> 订阅失败，积分不够！</p>
    </div>
    <div class="qrCode" th:if="${ret} == 1">
        <p >订阅成功!</p>
    </div>
    <div class="qrCode" th:if="${ret} == 2">
        <p >您已订阅成功!</p>
    </div>
</div>
<script type="text/javascript">
    function backList(columnId){
        location.href="/articleList/"+columnId;
    }
</script>

</body>
</html>